<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XByOpenApi.Sample.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XByOpenApi.Sample.WinForms.Properties.Settings>
            <setting name="AuthorizationIsOAuth1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OAuth1ConsumerAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuth1PinBased" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OAuth1RedirectUrl" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="OAuth2ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuth2RedirectUrl" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="OAuth2PublicClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OAuth2FetchRefreshToken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OAuth2CodeChallengeMethodSHA256" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsWrittenByCurrentVersion" serializeAs="String">
                <value>False</value>
            </setting>
        </XByOpenApi.Sample.WinForms.Properties.Settings>
    </userSettings>
</configuration>